.fake-chrome .fake-devtools {
    border-top: 1px solid #a3a3a3;
}
.fake-chrome .fake-devtools-header {
    background-color: #e6e6e6;
    border-bottom: 1px solid #a3a3a3;
    display: table;
    height: 22px;
    table-layout: fixed;
    width: 100%;
}
.fake-chrome .fake-devtools-header-tabs {
    display: table-cell;
}
.fake-chrome .fake-devtools-header-tabs-content {
    background: url(img/blink-top-tabs.png) no-repeat 100% 0;
    height: 22px;
    max-width: 500px;
}
.fake-chrome .fake-devtools-header-actions {
    background: url(img/blink-top-actions.png) no-repeat 100% 0;
    display: table-cell;
    height: 22px;
    width: 108px;
}
.fake-chrome .fake-devtools-content {
    display: table;
    width: 100%;
}
.fake-chrome .fake-devtools-elements {
    border-right: 1px solid #a3a3a3;
    display: table-cell;
}
.fake-chrome .fake-devtools-panel {
    display: table-cell;
    min-width: 300px;
    width: 300px;
}
.fake-chrome .fake-devtools-panel-header {
    background: #ececec url(img/blink-side-panel-tabs.png) no-repeat;
    border-bottom: 1px solid #cacaca;
    height: 22px;
}
.fake-chrome .fake-devtools-panel-tabs {
    display: none;
}
.fake-chrome .fake-devtools-panel-content {
    min-height: 400px;
    box-sizing: border-box;
    padding-bottom: 1em;
}
