.kfa-container {
    display: table;
}
.kfa-properties, .kfa-timeline {
    display: table-cell;
    vertical-align: top;
}
.kfa-properties {
    padding-top: 30px;
    /*width: 150px;*/
}
.kfa-properties-list {
    border: 0 dashed #e5e5e5;
    border-width: 1px 1px 0 1px;
    border-right-style: solid;
    list-style: none;
    margin: 0;
    padding: 0;
}
.kfa-property-name {
    border-bottom: 1px dashed #e5e5e5;
    box-sizing: border-box;
    height: 30px;
    line-height: 29px;
    padding: 0 0.5em;
    white-space: nowrap;
}

.kfa-timeline {
    width: 100%;
}
.kfa-timeline .kfa-header,
.kfa-timeline .kfa-footer {
    height: 30px;
    position: relative;
}
.kfa-marker {
    position: absolute;
}
.kfa-header .kfa-marker,
.kfa-footer .kfa-marker {
    border-radius: 5px;
    bottom: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 11px;
    height: 26px;
    padding: 4px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}
.kfa-header .kfa-marker:hover {
    background: #ff9;
}
.kfa-header .kfa-marker::after {
    content: '';
    border: 5px solid transparent;
    border-top-color: #666;
    bottom: -3px;
    height: 0;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 0;
}
.kfa-timeline-list {
    border: 0 solid #e5e5e5;
    border-width: 1px 1px 0 0;
    cursor: col-resize;
    list-style: none;
    margin: 0 0 0 -1px;
    padding: 0;
    position: relative;
}
.kfa-timeline-row {
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
    height: 30px;
    line-height: 29px;
    /* margin-left: -1px; */
    position: relative;
}
.kfa-timeline-row canvas {
    display: none;
}
.kfa-show-timeline-values .kfa-timeline-row canvas {
    display: block;
}
.kfa-timeline-list .kfa-marker {
    background-color: #bbb;
    height: 100%;
    top: 0;
    width: 1px;
}
.kfa-marker.kfa-current-time {
    background-color: #333;
}
.kfa-footer .kfa-marker::after {
    content: '';
    border: 5px solid transparent;
    border-bottom-color: #666;
    height: 0;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: -7px;
    width: 0;
}

