/* Page / DevTools misc */

.fake-window {
    width: 55%;
}
.demo-container {
    margin: 4em auto 2em;
    min-height: 4em;
    position: relative;
}
.demo {
    background: #B5F0F0;
    border: 0 solid #000;
    border-radius: .75em;
    margin: 0 auto;
    padding: 1em;
    font-size: 12px;
    text-align: center;
    width: 7em;
}

.fake-chrome .fake-devtools-elements {
    background-image: url(faker/img/blink-elements-animate.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
[data-show-elems="false"] .fake-devtools-elements,
[data-show-elems="false"] .fake-devtools-elements-content {
    background-image: none;
}
[data-show-elems="true"] .hide-for-elements {
    display: none;
}


/* DevTools elements panel */

#keyframes-root {
    margin: 0 auto;
    position: relative;
    width: 80%;
}
.keyframes-options {
    position: absolute;
    right: -10%;
    top: 0;
}
.keyframes-definition {
    line-height: 1.545454545;
}
.keyframes-definition ol {
    list-style: none;
    padding: 0;
    position: relative;
}
.keyframes-definition ol ol {
    padding-left: 2.5em;
}
.keyframes-definition li.hoverable > .selection {
    margin-left: -2.5em;
    padding: 0 1em 0 2.5em;
}
.keyframes-definition li.hoverable:hover > .selection {
    border-radius: 5px;
}
.keyframes-definition li.hoverable:hover > .selection,
.keyframes-definition li.hoverable.active > .selection,
.kfa-property-name:hover,
.kfa-property-name.active {
    background-color: rgba(56, 121, 217, 0.2);
}
.kfcss-declaration {}
.kfcss-name {
    color: rgb(50, 0, 255);
}
.kfcss-stop {
    cursor: pointer;
    padding: 4px 3px;
    border-radius: 5px;
}
.kfcss-stop:hover,
.kfcss-stop.active {
    background-color: hsl(70, 80%, 60%);
}
.kfcss-prop-name {
    color: rgb(200, 0, 0);
}
.kfcss-prop-value {}


/* DevTools side panel */

.kf-anim-view-icon {
    position: relative;
    padding-left: 2em;
}
.kf-anim-view-icon::before, .kf-anim-view-icon::after {
    content: '';
    position: absolute;
    left: 0;
    cursor: pointer;
}
.kf-anim-view-icon::before {
    border: 0.7em solid #888;
    border-radius: 100% 0 / 100% 0;
    height: 0;
    width: 0;
    left: 0.25em;
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.kf-anim-view-icon::after {
    border: 0.2em solid #fff;
    border-radius: 100%;
    width: 0.2em;
    height: 0.2em;
    left: 0.65em;
    top: 0.35em;
}
