.fake-window {
    float: left;
    margin: 3em;
    width: 450px;
}
.fake-page {
    text-align: center;
    min-height: 0;
}


/*** ROTATE UNITS ***/

.tr-icon-rotate::before {
    content: '';
    cursor: default;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-weight: bold;
    margin-right: 0.25em;
    padding: 0 0.3em;
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
}
.tr-icon-rotate:hover::before {
    border-color: rgba(0, 0, 0, 0.5);
}
.tr-icon-deg::before {
    content: 'D';
}
.tr-icon-rad::before {
    content: 'R';
}
.tr-icon-grad::before {
    content: 'G';
}
.tr-icon-turn::before {
    content: 'T';
}


/*** TRANSFORM PREVIEWS ***/

.trans-part + .trans-part {
    margin-left: 0.5em;
}
.trans-preview {
    display: inline-block;
    height: 14px;
    margin: 0 0.5em 0 0.25em;
    position: relative;
    width: 14px;
    vertical-align: middle;
}
.trans-preview-before, .trans-preview-after {
    border: solid 1px;
    box-sizing: border-box;
    height: 14px;
    left: 0;
    position: absolute;
    top: 0;
    width: 14px;
}
.trans-preview-before {
    background-image: linear-gradient(to bottom, rgba(128, 64, 0, 0.4) 0%, rgba(128, 64, 0, 0.1) 100%);
    border-color: rgba(128, 64, 0, 0.5);
}
.trans-preview-after {
    background-image: linear-gradient(to bottom, rgba(0, 64, 128, 0.6) 0%, rgba(0, 64, 128, 0.2) 100%);
    border-color: rgba(0, 64, 128, 0.6);
}
