.fake-page {
    height: 16em;
}
.fake-devtools-panel {
    width: 350px;
}
.demo {
    background: #D8F0B5;
    border-radius: .75em;
    float: right;
    margin: 5em 5em 0 0;
    padding: 1em;
    font-size: 14px;
    text-align: left;
    /* width: 10em; */
}
[data-mode=rotate] .trans-cursor { cursor: alias; } /* TODO: Image */
[data-mode=scale]  .trans-cursor { cursor: move; }
[data-axis=x] .trans-cursor { cursor: ew-resize; }
[data-axis=y] .trans-cursor { cursor: ns-resize; }
[data-mode=translate] .trans-cursor { cursor: -webkit-grab; cursor: grab; }
[data-mode=translate].dragging .trans-cursor { cursor: -webkit-grabbing; cursor: grabbing; }
